################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/packages
/HtmlParserSample/obj/Debug
/HtmlParserSample/bin/Debug
